body {
    font-family: 'Georgia', serif;
    line-height: 1.6;
    background-color: #fdfbe3;
    margin: 0;
    padding: 20px;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 800px;
    margin: auto;
    padding: 20px;
}


nav {
    display: flex;
    gap: 20px;
    font-weight: bold;
    border-bottom: 1px solid #ccc;
    padding-bottom: 10px;
}

nav a {
    text-decoration: none;
    color: #333;
}

nav a:hover {
    text-decoration: underline;
    transform: scale(1.1);
}

nav a.active {
    font-weight: bold;
    text-decoration: underline; /* Optional underline for active */
}





/* .header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
} */

.info {
    max-width: 60%;
}

.info h1 {
    margin: 0;
    font-size: 36px;
}

.info h2 {
    margin: 5px 0;
    font-size: 24px;
    color: #555;
}

.social-icons {
    display: flex;
    gap: 20px;  /* Space between the social media links */
    font-size: 24px;  /* Icon size */
    padding: 20px;
}

.social-icons a {
    text-decoration: none;
    color: #333;  /* Default color */
    display: flex;
    align-items: center;
    font-size: 24px;
    transition: color 0.3s;
}

.social-icons a:hover {
    color: #0077b5;  /* LinkedIn blue for hover */
}

.social-icons i {
    margin-right: 8px;  /* Space between icon and text */
}

/* Optional: Adjust icon size or hover effects */
.social-icons a:hover i {
    transform: scale(1.2);  /* Slight zoom effect on hover */
}


.profile-pic {
    width: 5px;
    height: 15px;
    border-radius: 5%;
    margin-left: 10px;
}

.currently {
    margin-top: 20px;
}

.news {
    margin-top: 20px;
}

/* .contact-links a {
    margin-right: 10px;
}

.contact-links img {
    width: 24px;
    height: 24px;
}

.currently {
    margin: 20px 5%;
    font-family: "Georgia", serif;
    line-height: 1.5;
}

.currently a {
    color: #0066cc;
    text-decoration: none;
}

.currently a:hover {
    text-decoration: underline;
}
 */

/* .header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 20px 0;
    padding: 0 5%;
}

.header h1 {
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 10px;
}

.header p {
    font-size: 1.2rem;
} */
